<!-- <button mat-raised-button color="primary" (click)="startLocalVideo()" [disabled]="localVideoActive">Start Local</button>
<button mat-raised-button color="primary" (click)="pauseLocalVideo()" [disabled]="!localVideoActive">Stop Local</button>
<button mat-raised-button color="primary" (click)="call()" [disabled]="inCall || !localVideoActive">Call</button>
<button mat-raised-button color="primary" (click)="hangUp()" [disabled]="!inCall">HangUp</button>

<h1>Received Video</h1>
<video #received_video [autoplay]="true"></video>

<h1>Local Video</h1>
<video #local_video [autoplay]="true" [muted]="true"></video> -->
<p>Works :D</p>