<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="text-center" *ngIf="(presenceService.onlineUsers | async).includes(member.email)">
                <strong>Online Now</strong>
            </div>
            <div class="text-center" *ngIf="!(presenceService.onlineUsers | async).includes(member.email)">
                <strong>Offline Now</strong>
            </div>

            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
                
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>

                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date}}</p>
                </div>

                <div *ngIf="!(presenceService.onlineUsers | async).includes(member.email)">
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button (click)="addLike(member)" class="btn btn-dark">Like</button>
                    <button (click)="selectTab('Messages')" class="btn btn-dark">Message</button>
                    <button (click)="selectTab('Videos')" class="btn btn-dark">Video</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{ member.knownAs }}' (selectTab)="onTabActivated($event)">
                <h4>Interests</h4>
                <p>{{member.interests}}</p>

                <h5>Tags:</h5>
                <ul *ngFor="let tag of member.tags">
                    <li>{{ tag.name }}</li>
                </ul>
            </tab>
            <tab heading='Photos' #photoTab="tab" (selectTab)="onTabActivated($event)">
                <gallery *ngIf="photoTab.active" [items]="images"></gallery>
            </tab>
            <tab heading='Messages' #messagesTab="tab" (selectTab)="onTabActivated($event)">
                <app-member-messages [email]="member.email"></app-member-messages> 
            </tab>
            <tab heading='Videos' #videoTab="tab" (selectTab)="onTabActivated($event)">
                <app-member-video [email]="member.email"></app-member-video> 
            </tab>
        </tabset>
    </div>
</div>
