<div *ngIf="!user">
    <div class="container">
        <div *ngIf="!register" style="text-align: center;">
            <h1>Find your coworker</h1>
            
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec condimentum urna. Praesent eu viverra libero. In semper faucibus scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque ornare justo diam, a tincidunt est consectetur sed. Quisque lobortis placerat nibh vitae gravida. In a turpis et nulla pulvinar bibendum quis et mauris. Pellentesque vestibulum velit vitae dapibus imperdiet. Sed ut tortor sit amet tellus consequat suscipit nec a tellus. Mauris sed dolor a tortor aliquet gravida in ut sapien.
            </p>
    
            <div class="text-center">
                <button (click)="registerToggle()" class="btn btn-primary me-1">Register</button>
                <button class="btn btn-dark">Learn more</button>
            </div>
        </div>
    </div>
    
    <div *ngIf="register" class="container">
        <div class="row justify-contnent-center">
            <app-register (cancelRegister)="cancelRegisterToggle($event)"></app-register>
        </div>
    </div>
</div>

<div *ngIf="user">
        <div class="intro">
          <h1>Search for a co-worker</h1>
          <button routerLink="/members">Find a co-worker</button>
        </div>
        <div class="achievements">
          <div class="work">
            <p class="work-heading">Co-workers</p>
            <p class="work-text">This section provides a directory of individuals who can assist in your project development. The list can be filtered by selected categories. Remember to add a few tags and photos to your profile to maintain a consistent appearance with others.</p>
          </div>
          <div class="work">
            <p class="work-heading">List</p>
            <p class="work-text">Here you will find individuals you have liked as well as those who have liked your profile.</p></div>
          <div class="work">
            <p class="work-heading">Messages</p>
            <p class="work-text">Do not be concerned about temporary absence; all messages sent to you are stored here.</p>
          </div>
        </div>
</div>