body {
  margin: 0;
  box-sizing: border-box;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
  url("https://cdn.discordapp.com/attachments/829639552246743052/1178418270710272050/1.jpg?ex=65761289&is=65639d89&hm=c877fd12371aa7501153b5831718026de7fe294bd78dc01386c099d3abc017fe&");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #ffffff;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  width: 33%;
  height: 250px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  text-align: justify;
  color: #585858;
  margin: 10px 0;
}