<div class="container" >
    <div *ngIf="!register" style="text-align: center;">
        <h1>Find your coworker</h1>
        
        <p class="lead">Lorem ipsum</p>

        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary me-1">Register</button>
            <button class="btn btn-dark">Learn more</button>
        </div>
    </div>
</div>

<div *ngIf="register" class="container">
    <div class="row justify-contnent-center">
        <app-register (cancelRegister)="cancelRegisterToggle($event)"></app-register>
    </div>
</div>